<html>
<head>
<title>
IndexOf
</title>
<link rel="stylesheet" href="css/all.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/main.css">

</head>
<body class="download">

<div class='download'>
<header>
<div>
<a href="/">
<h1>
IndexOf
</h1>
</a>

<a href="/upload">
<span class="download">Upload</span>
</a>
</div>
</header>
<% files.forEach(f => { %>
<p><i class="<%=f[1]%>"></i>	<a href="/download/<%= f[0] %>" download ><%=f[0]%></a> </p>
<%});%>

<div style="height:30px; width:100%">
</div>
</div>
</body>
</html>
