<html>
<head>
<title>
IndexOf
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<% file.forEach(f => { %>
<p>	<a href="/download/<%= f %>" download ><%=f%></a> </p>
<%});%>


</body>
</html>
