<html>
<head>
<title>
IndexOf
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/9e52c702a6.js" crossorigin="anonymous"></script>
</head>
<body>
<% file.forEach(f => { %>
<p><i class="fas fa-film"></i>	<a href="/download/<%= f %>" download ><%=f%></a> </p>
<%});%>


</body>
</html>
