<html>
<head>
<title>
IndexOf
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/9e52c702a6.js" crossorigin="anonymous"></script>
 <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap" rel="stylesheet"> 

<style>
body{
background-color:#45425A;
display:flex;
align-items: center;
justify-content: center;
}
div{

overflow:hidden;
}
a{
color:#D9CB9E;
text-decoration: none;
}
p{
font-family: 'Poppins', sans-serif;
overflow:hidden;
text-overflow: ellipsis;
}
i{
color:#2A2C2B;
}

</style>

</head>
<body>
<div>
<% file.forEach(f => { %>
<p><i class="fas fa-film"></i>	<a href="/download/<%= f %>" download ><%=f%></a> </p>
<%});%>
</div>


</body>
</html>
