body{
background-color:#45425A;
display: flex;
justify-content: center;
height: 100vh;
overflow: hidden;
}

body.download{
overflow: scroll !important;
}

body.upload{
align-items: center;
}
div.index{
overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

div.doawnload{

	overflow: hidden;

}
div.upload{
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
ul{

list-style: none;
font-family: sans-serif;
font-weight: bold;
}
a{
	color:#D9CB9E;
	text-decoration: none;
}
li{
border: 1px solid gray;
padding: 10px;
padding: 10px;
margin: 2px auto;
}
p{
	font-family: sans-serif;
	overflow:hidden;
	text-overflow: ellipsis;
}

i{
color:#BDC3C7;
}

h1{
color: #BDC3C7;
}
label{
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 2px 2px 3px black;
	background: #BDC3C7;
	color: #374140;
	padding: 10% 5%;
	display: block;
	width: 140%;
	text-align: center;
	margin: 20px;

}
form{
display:flex;
flex-direction: column;
align-items: center;
height: 100%;
justify-content: center;

}
label[for="files"]{
width: 200%
}

input{
display: none;
}
span{
	color: #BDC3C7;
}
